body {
  margin: 0;
  min-height: 100vh;
  color: #8b6f47;

  background: linear-gradient(to bottom, #85d7ff, #f1e9d2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  color: #8b6f47;
}

p,
span {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  color: #8b6f47;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.leaf-loader {
  width: 80px;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
